/* @override 
	http://localhost:3000/stylesheets/typography.css?1289408539
	http://localhost:3000/stylesheets/typography.css?1289420898
	http://localhost:3000/stylesheets/typography.css?1289422071
	http://localhost:3000/stylesheets/typography.css?1289506958
*/

@font-face {
	font-family: 'DroidSansRegular';
	src: url('/fonts/DroidSans-webfont.eot');
	src: local('☺'), url('/fonts/DroidSans-webfont.woff') format('woff'), url('/fonts/DroidSans-webfont.ttf') format('truetype'), url('/fonts/DroidSans-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('/fonts/DroidSans-Bold-webfont.eot');
	src: local('☺'), url('/fonts/DroidSans-Bold-webfont.woff') format('woff'), url('/fonts/DroidSans-Bold-webfont.ttf') format('truetype'), url('/fonts/DroidSans-Bold-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSerifRegular';
	src: url('/fonts/DroidSerif-Regular-webfont.eot');
	src: local('☺'), url('/fonts/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Regular-webfont.svg#webfontOAAhrq6s') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSerifItalic';
	src: url('/fonts/DroidSerif-Italic-webfont.eot');
	src: local('☺'), url('/fonts/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/DroidSerif-Italic-webfont.svg#webfontKHo48rSK') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	font-size: 11px;
	line-height: 14px;
	font-family:  'DroidSansRegular', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1, h2, legend {
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 3px;
	border-bottom: 2px solid #000;
	padding-top: 0px;
	margin-bottom: 5px;
}

#logo h1 {
	border: none;
	margin: 0;
	padding: 0;
}

.browse.single_category h1 .category,
.browse.results h1 .sub_category,
.images.index h1 em {
	font-weight: normal;
	font-style: normal;
}

#categories li a {
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
}

.image img {
/* removed for viewport	margin-top: 21px; */
}

dl {
}

dt, th {
	font-family: 'DroidSansBold';
	font-weight: normal;
	margin-top: 10px;
}

dt:first-child {
	margin-top: 0;
}
h2.detailed_description {
    margin-top: 10px;
    padding-top: 0px;
}
span.cil {
	font-size: 14px;
        font-weight: bold;
	line-height: 18px;
	margin-bottom: 42px;
        text-decoration: none !important;
}
sup.detailed_cil_asterisk {
    font-size: smaller;
}

dd {
	background: url(/pix/2px_grey_square.gif) no-repeat 0 5px;
	padding-left: 5px;
	margin-left: -5px;
}

dd:last-child {
	margin-bottom: 7px;
}

.images .description p{
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 7px;
}

.pagination {
	font-size: 14px;
}


.sub_category .name {
	font-size: 16px;
	line-height: 28px;
}
.sub_category .scientific_name {
	font-size: 17px;
	line-height: 28px;
}
.sub_category .common_name {
   font-size: 13px;
}

.sub_category_scientific_name {
    font-weight: normal;
}
.sub_category_common_name {
    font-size: smaller;
    font-weight: normal;
}

.pages #content h3 {
	font-family: 'DroidSansBold';
	font-weight: normal;
	font-size: 14px;
	margin-top: 22px;
}

.pages .information li,
.pages .information dd {
        background: url(/pix/2px_grey_square.gif) no-repeat 0 9px;
	padding-left: 5px;
	margin-left: -5px;
}

.pages #content p,
.pages #content .information li,
.pages #content .information dl,
.licensing_table {
	font-family: "DroidSerifRegular";
	font-size: 13px;
	line-height: 22px; 
	margin-bottom: 12px;
}

.pages #toc a {
	font-size: 13px;
	line-height: 22px;
	font-family: "DroidSansRegular";
	text-decoration: none;
}

.pages #toc a:hover {
	text-decoration: underline;
}


.vcard {
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 11px;
}

.vcard .fn {
	font-size: 16px;
	line-height: 22px;
	font-family: 'DroidSansBold';
}

.vcard .role {
	font-family: 'DroidSerifItalic';
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 5px;
}

#footer p {
  font-size: 11px;
  line-height: 14px;
}
