/* navbar */
/*.navbar-default {
    background-color: #1899ce;
    border-top: 5px solid #92d4f0;
    border-bottom: 5px solid #92d4f0;
}*/
.navbar-default {
    background-color: #00b300;
    border-top: 5px solid #ccffcc;
    border-bottom: 5px solid #ccffcc;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-size: 16px;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
    
}

.divider-vertical {
    height: 40px;                   /* any height */
    border-left: 1px solid #92d4f0;     /* right or left is the same */
    float: left;                     /* so BS grid doesn't break */
    opacity: 0.7;                    /* optional */
}


.menu_item_width
{
    width:170px;
    text-align: center;
}
/*.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar .navbar-collapse {
  text-align: center;
  
}*/

/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


.underline_search_title
{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 100%;
    display: block;
}

.top-buffer { margin-top:5px; }


.cil_title
{
        color: #000000;
        font-family: "DroidSansRegular";
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 3px;
	border-bottom: 2px solid #000;
	padding-top: 0px;
	margin-bottom: 5px;
        
        display: block;
   
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: 700;


}


.cil_description
{
    color: #000000;
    font-family: "DroidSansRegular";
    font-size: 13px;
    line-height: 21px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: start;
    text-indent: 0px;
}


.cil_small_title
{
    color: #000000;
    font-family: "DroidSansBold";
    font-size: 11px;
    line-height: 14px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: start;
    text-indent: 0px;
}

.cil_title2
{

        color: #000000;
        font-family: "DroidSansRegular";
	font-size: 18px;
	line-height: 18px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        
	padding-bottom: 3px;
	border-bottom: 2px solid #000;
	padding-top: 0px;
	margin-bottom: 5px;
        
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none;
        text-align: start;
        text-indent: 0px;
        
        display: block;
   
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        
}

.about_page_font
{
    font-family: "DroidSerifRegular";
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 12px;
    color: black;
    
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.faq_bold_font
{
    font-family: "DroidSansBold";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}


.faq_regular_font
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}


.cil_smaller_font
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
}

.cil_14_bold_font
{
    font-family: "DroidSansBold";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.cil_14_bold_no_color
{
    font-family: "DroidSansBold";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.cil_12_bold_no_color
{
    font-family: "DroidSansBold";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.cil_13_bold_no_color
{
    font-family: "DroidSansBold";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
}

.cil_13_no_color
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
}

.cil_12_no_color
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400; 
    font-size: 12px;
    line-height: 12px;
}


.cil_14_regular_font
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.cil_14_san_regular_font
{
    font-family: "DroidSansRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.cil_san_regular_font
{
    font-family: "DroidSansRegular";
    font-style: normal;
}

.cil_13_san_regular_font
{
    font-family: "DroidSansRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;

}


.cil_18_san_regular_font700
{
    font-family: "DroidSansRegular";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.cil_18_san_regular_font
{
    font-family: "DroidSansRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.cil_18_regular_font
{
    font-family: "DroidSerifRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.cil_black_border
{
    border:1px solid black;
}

.cil_black_font
{
    color: #000000;
}


.interactive_cell_width
{
    width:100%;
    max-width:450px;
}

.selected_blue
{
    background-color: #92d4f0; 
}

.anchor_blue
{
    color: #1899ce;
    text-decoration: underline;
}


.row_no_gap_right
{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    
   
}

/* Overrides list-group-item from Bootstrap */ 
.list-group-item {
    padding: 3px 10px;
    border: none;
}

.top_menu_font
{
    color: #ffffff;
    font-family: "DroidSerifRegular";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

.cil_16_font
{
    font-family: "DroidSansRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.cil_16_font_black
{
    font-family: "DroidSansRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: black;
}

.cil_16_font_white
{
    font-family: "DroidSansRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: white;
}

.cil_16_font_no_color
{
    font-family: "DroidSansRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

.cil_16_font_no_color_bold
{
    font-family: "DroidSansRegular";
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    font-style: normal;
}


.cil_id_font
{
    font-family: "Roboto, sans-serif";
    font-size: 14px;
    font-weight: 700;
    /* line-height: 0px; */
    font-style: normal;
    /* color: #333333; */
}

.cil_text_box_align {
  height: 30px;
  display : flex;
  align-items : center;
}

/********* footer **************/
.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  clear:both;
  padding-top:10px;
} 


.footer_background0
{
    background-color: #f2f2f2;
}

.footer_background
{
    background-color: #e6e6e6;
}


.footer_background2
{
    background-color: #a6a6a6;
}


.footer-row{
  
  display: flex;
  justify-content: space-between;
  /* Adding for cross browser support */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*********End footer **************/

