<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="nl"><!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<title>Index</title>
		<meta name="description" content="Page description here">
		<meta name="author" content="BigBase - D. Tiems">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/nivo-slider.css">
		<link rel="stylesheet" href="css/colorbox.css">
		<link rel="stylesheet" href="nivo-themes/bar/bar.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo-themes/light/light.css" type="text/css" media="screen" />
		<script src="js/config.js"></script>
		<script src="js/modernizr-3.3.1.min.js"></script>
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<script src="js/jquery.colorbox-1.6.4.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/script.js"></script>

	</head>

	<body>

		<div class="row visible-print">
			<div class="col-xs-12">
				Alternate header for print version
			</div>
		</div>

		<div class="header-shadow"></div>

		<div class="container">

			<header>

				<!-- Facebook div for like button -->
				<div id="fb-root"></div>

				<!-- Div for shade line -->

				<div class="row hidden-print">
					<div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
						<div class="header-action">

							<!-- START CONTENT ITEM -->
							<span class="label label-info">Free shipping on all orders over € 20,-</span>
							<!-- END CONTENT ITEM -->

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">

						<!-- START CONTENT ITEM -->
						<nav class="navbar navbar-right header-nav" role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">account</a>
									<ul class="dropdown-menu">
										<li>
											<div class="dropdown-content">
												<br>
												<form role="form">
													<input type="text" class="form-control" placeholder="Username"><br>
													<input type="password" class="form-control" placeholder="Password"><br>
													<button class="btn btn-default">reset</button>
													<button type="submit" class="btn btn-primary">login</button>
												</form> 
												<br>
											</div>
										</li>
									</ul>
								</li>
								<li><a href="column1.html">orders</a></li>
								<li><a href="column1.html">customer service</a></li>
							</ul>
						</nav>
						<!-- END CONTENT ITEM -->

					</div>
				</div>

				<div class="row header-top hidden-print">
					<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">

						<!-- START CONTENT ITEM -->
						<img src="img/logo.png" alt="Logo" class="img-responsive">
						<!-- END CONTENT ITEM -->

					</div>
					<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
						<div class="row hidden-print">

							<!-- START CONTENT ITEM -->
							<div class="col-xs-12">
								<div class="navbar header-search-nav">
									<ul class="nav navbar-nav">
										<li><a href="column2.html">Gift certificates</a></li>
										<li><a href="column2.html">Monthly preview</a></li>
										<li><a href="column2.html">More</a></li>
									</ul>
								</div>
							</div>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="row hidden-print">
							<div class="col-xs-12">

								<!-- START CONTENT ITEM -->
								<div class="input-group form-search header-search">
									<input class="form-control search-query" type="text" placeholder="Search all products...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Search</button>
									</span>
								</div>
								<!-- END CONTENT ITEM -->

							</div>
						</div>
						<br>
					</div>
					<div class="hidden-xs hidden-sm col-md-3 col-lg-4">

						<!-- START CONTENT ITEM -->
						<img src="img/banner_top-v3.jpg" alt="No shipping" class="img-responsive">
						<!-- END CONTENT ITEM -->

					</div>
				</div>



			</header>

			<div class="row">
				<div class="col-xs-12">
                	<div class="not-found">
                    <!-- START CONTENT ITEM -->
                    <h1><strong>404</strong></h1>
                    <p>OOPS! PAGE NOT FOUND</p>
                    <br>
                    <a class="btn btn-default btn-block" href="index.html">Back to home</a>
                    <!-- END CONTENT ITEM -->
                    </div>
				</div>
			</div>



			<footer>

				<div class="footer">

					<div class="row hidden-print">

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 1</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 2</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 3</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 4</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 5</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 6</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 7</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 8</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 9</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 10</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 11</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 12</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

					</div>

					<div class="row visible-print">
						<div class="col-xs-12">
							
							<!-- START CONTENT ITEM -->
							Alternate footer for print version
							<!-- END CONTENT ITEM -->

						</div>
					</div>

				</div>
	
			<footer>

		</div>

	</body>

</html>
