<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="nl"><!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<title>Index</title>
		<meta name="description" content="Page description here">
		<meta name="author" content="BigBase - D. Tiems">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/nivo-slider.css">
		<link rel="stylesheet" href="css/colorbox.css">
		<link rel="stylesheet" href="nivo-themes/bar/bar.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo-themes/light/light.css" type="text/css" media="screen" />
		<script src="js/config.js"></script>
		<script src="js/modernizr-3.3.1.min.js"></script>
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<script src="js/jquery.colorbox-1.6.4.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/script.js"></script>

	</head>

	<body>

		<div class="row visible-print">
			<div class="col-xs-12">
				<!-- Alternate header for print version -->
			</div>
		</div>

		<div class="header-shadow"></div>

		<div class="container">

			<header>

				<!-- Facebook div for like button -->
				<div id="fb-root"></div>

				<!-- Div for shade line -->

				<div class="row hidden-print">
					<div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
						<div class="header-action">

							<!-- Place content here-->

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
						
						<!-- Place content here-->

					</div>
				</div>

				<div class="row header-top hidden-print">
					<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">

						<!-- Place content here-->

					</div>
					<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
						<div class="row hidden-print">
						
							<!-- Place content here-->

						</div>
					</div>
					<div class="hidden-xs hidden-sm col-md-3 col-lg-4">

						<!-- Place content here-->

					</div>
				</div>

				<div class="row hidden-print">
					<div class="col-xs-12">

						<!-- Place content here-->

					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">

						<!-- Place content here-->

					</div>
				</div>
				
			</header>

			<div class="row">

				<div class="col-xs-12 col-sm-8">

					<!-- Place content here-->

				</div>

				<div class="hidden-xs col-sm-4 col-md-4 col-lg-4">

						<!-- Place content here-->

				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-xs-12">
					<div class="product-list-inline-large">
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

							<!-- Place content here-->

						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
						
							<!-- Place content here-->

						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							
							<!-- Place content here-->

						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							
							<!-- Place content here-->

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="well">

						<!-- Place content here-->

					</div>
				</div>
			</div>

			<footer>

				<div class="footer">

					<div class="row hidden-print">

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
							<ul class="unstyled">
								<li class="footer-title"><!-- Place content here--></li>
								<li><!-- Place content here--></li>
							</ul>
						</div>

					</div>

					<div class="row visible-print">
						<div class="col-xs-12">
							<!-- Alternate footer for print version -->
						</div>
					</div>

				</div>
	
			<footer>

		</div>

	</body>

</html>
