<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="nl"><!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<title>Index</title>
		<meta name="description" content="Page description here">
		<meta name="author" content="BigBase - D. Tiems">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/nivo-slider.css">
		<link rel="stylesheet" href="css/colorbox.css">
		<link rel="stylesheet" href="nivo-themes/bar/bar.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo-themes/light/light.css" type="text/css" media="screen" />
		<script src="js/config.js"></script>
		<script src="js/modernizr-3.3.1.min.js"></script>
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/jquery.nivo.slider.pack.js"></script>
		<script src="js/jquery.colorbox-1.6.4.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/script.js"></script>

	</head>

	<body>

		<div class="row visible-print">
			<div class="col-xs-12">
				Alternate header for print version
			</div>
		</div>

		<div class="header-shadow"></div>

		<div class="container">

			<header>

				<!-- Facebook div for like button -->
				<div id="fb-root"></div>

				<!-- Div for shade line -->

				<div class="row hidden-print">
					<div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
						<div class="header-action">

							<!-- START CONTENT ITEM -->
							<span class="label label-info">Free shipping on all orders over € 20,-</span>
							<!-- END CONTENT ITEM -->

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">

						<!-- START CONTENT ITEM -->
						<nav class="navbar navbar-right header-nav" role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">account</a>
									<ul class="dropdown-menu">
										<li>
											<div class="dropdown-content">
												<br>
												<form role="form">
													<input type="text" class="form-control" placeholder="Username"><br>
													<input type="password" class="form-control" placeholder="Password"><br>
													<button class="btn btn-default">reset</button>
													<button type="submit" class="btn btn-primary">login</button>
												</form> 
												<br>
											</div>
										</li>
									</ul>
								</li>
								<li><a href="column1.html">orders</a></li>
								<li><a href="column1.html">customer service</a></li>
							</ul>
						</nav>
						<!-- END CONTENT ITEM -->

					</div>
				</div>

				<div class="row header-top hidden-print">
					<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">

						<!-- START CONTENT ITEM -->
						<img src="img/logo.png" alt="Logo" class="img-responsive">
						<!-- END CONTENT ITEM -->

					</div>
					<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
						<div class="row hidden-print">

							<!-- START CONTENT ITEM -->
							<div class="col-xs-12">
								<div class="navbar header-search-nav">
									<ul class="nav navbar-nav">
										<li><a href="column2.html">Gift certificates</a></li>
										<li><a href="column2.html">Monthly preview</a></li>
										<li><a href="column2.html">More</a></li>
									</ul>
								</div>
							</div>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="row hidden-print">
							<div class="col-xs-12">

								<!-- START CONTENT ITEM -->
								<div class="input-group form-search header-search">
									<input class="form-control search-query" type="text" placeholder="Search all products...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Search</button>
									</span>
								</div>
								<!-- END CONTENT ITEM -->

							</div>
						</div>
						<br>
					</div>
					<div class="hidden-xs hidden-sm col-md-3 col-lg-4">

						<!-- START CONTENT ITEM -->
						<img src="img/banner_top-v3.jpg" alt="No shipping" class="img-responsive">
						<!-- END CONTENT ITEM -->

					</div>
				</div>

				<div class="row hidden-print">
					<div class="col-xs-12">

						<!-- START CONTENT ITEM -->
						<nav class="navbar navbar-default main-nav" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">menu</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav navbar-left">
									<li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
									<li><a href="category.html">categories</a></li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">products <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="products.html">products list</a></li>
											<li><a href="detail.html">products detail</a></li>
										</ul>
									</li>
									<li><a href="contact.html">contact</a></li>
									<li><a href="sitemap.html">sitemap</a></li>
									<li><a href="order.html">order</a></li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">other pages <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="home2.html">home v2</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="404.html">404 not found</a></li>
                                            <li><a href="column1.html">1 column page</a></li>
											<li><a href="column2.html">2 column page</a></li>
											<li><a href="column3.html">3 column page</a></li>
										</ul>
									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="dropdown-content dropdown-content-wide">
													<form class="col-xs-12 form-search">
														<div class="input-group">
															<input class="form-control search-query" type="text" placeholder="Type your question...">
															<span class="input-group-btn">
																<button class="btn btn-default" type="button">ok</button>
															</span>
														</div>
													</form>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-envelope"></span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="dropdown-content">
													<address>
														<strong>CompanyName</strong><br>
														Address 123<br>
														Zipcode, State and City
													</address>
												</div>
											</li>
											<li class="divider"></li>
											<li>
												<div class="dropdown-content">
													<strong>Phone</strong>: 012-345 67 89<br>
												</div>
											</li>
											<li class="divider"></li>
											<li><a href="contact.html"><strong>E-mail</strong>: info@example.com</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
										<ul class="dropdown-menu">
											<li><a href="detail.html"><span class="pull-left"><small>5x</small> Product A</span> &nbsp; <small class="pull-right label label-info">&euro; 123,-</small></a></li>
											<li><a href="detail.html"><span class="pull-left"><small>1x</small> Product B</span> &nbsp; <small class="pull-right label label-info">&euro; 139,-</small></a></li>
											<li class="divider"></li>
											<li><a href="order.html">Show all items in shopping cart <i class="glyphicon glyphicon-menu-right"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<!-- END CONTENT ITEM -->

					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<!-- START CONTENT ITEM -->
						<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>Now special <strong> only &euro; 5,- </strong> express delivery!</div>
						<!-- END CONTENT ITEM -->

					</div>
				</div>

			</header>

			<div class="row">
				<div class="col-xs-12">

					<!-- START CONTENT ITEM -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#step1" data-toggle="tab"><b>step 1:</b> overview</a></li>
						<li><a href="#step2" data-toggle="tab"><b>step 2:</b> personal info</a></li>
						<li><a href="#step3" data-toggle="tab"><b>step 3:</b> confirmation</a></li>
						<li><a href="#step4" data-toggle="tab"><b>step 4:</b> payment</a></li>
					</ul>

					<div class="tab-content">

						<div class="tab-pane active" id="step1">
							<div class="row">
								<div class="col-xs-12">
									<table class="table table-bordered table-order">
										<thead>
											<tr>
												<th class="hidden-xs">&nbsp;</th>
												<th></th>
												<th>count</th>
												<th>each (incl. tax)</th>
												<th>total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="hidden-xs"><img src="img/product_01.jpg" width="75"></td>
												<td>
													<a href="detail.html">Product A - Possibly with a short description, or some detail info</a>
													<p>More info or a more complex description.</p>
												</td>
												<td>

													<div class="input-group">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">
																<span class="glyphicon glyphicon-minus">
															</button>
														</span>
														<input type="text" class="form-control">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">
																<span class="glyphicon glyphicon-plus">
															</button>
														</span>
													</div>

												</td>
												<td align="right">
													<span>&euro; 123,- </span>
												</td>
												<td align="right">
													<span>&euro; 123,- </span>
												</td>
											</tr>
											<tr>
												<td class="hidden-xs"><img src="img/product_02.jpg" width="75"></td>
												<td>
													<a href="detail.html">Product B</a>
												</td>
												<td>
													<div class="input-group">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">
																<span class="glyphicon glyphicon-minus">
															</button>
														</span>
														<input type="text" class="form-control">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">
																<span class="glyphicon glyphicon-plus">
															</button>
														</span>
													</div>

												</td>
												<td align="right">
													<span>&euro; 1,- </span>
												</td>
												<td align="right">
													<span>&euro; 2,- </span>
												</td>
											</tr>
											<tr>
												<td align="right" colspan="3">
													<form class="form-horizontal">
														<fieldset>
															<div class="form-group">
																<label class="col-xs-4 control-label">shipping: </label>
																<div class="col-xs-8">
																	<select class="form-control">
																		<option>mail</option>
																		<option>collect</option>
																		<option>express</option>
																	</select>
																</div>
															</div>
														</fieldset>
													</form>
												</td>
												<td align="right" colspan="2">
													<span class="label label-success">free</span>
												</td>
											</tr>
											<tr>
												<td align="right" colspan="3">
													<form class="form-horizontal">
														<fieldset>
															<div class="form-group">
																<label class="col-xs-4 control-label">payment: </label>
																<div class="col-xs-8">
																	<select class="form-control">
																		<option>wire transfer</option>
																		<option>paypal</option>
																		<option>creditcard</option>
																	</select>
																</div>
															</div>
														</fieldset>
													</form>
												</td>
												<td align="right" colspan="2">
													<span class="label label-success">free</span> 
												</td>
											</tr>
											<tr>
												<td align="right" colspan="3">total excl. tax:<br>tax:<br>total incl. tax: </td>
												<td align="right" colspan="2">
													<strong>&euro; 100,-</strong><br>
													&euro; 25,-<br>
													&euro; 125,-<br>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<a href="products.html" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Continue shopping</a>
								</div>
								<div class="col-xs-4">
									<button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Empty cart</button>
								</div>
								<div class="col-xs-4">
									<button class="btn btn-primary pull-right" data-target="#step2" data-toggle="tab">Next <span class="glyphicon glyphicon-menu-right"></span></button>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="step2">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<form class="form-horizontal well">
										<fieldset>
											<legend>Personal info</legend>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companyname">Company name</label>
												<div class="col-xs-8">
													<input class="form-control" id="companyname" type="text" placeholder="Companyname">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companytradingregister">Register</label>
												<div class="col-xs-8">
													<input class="form-control" id="companytradingregister" type="text" placeholder="Register">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companytaxregister">Tax number</label>
												<div class="col-xs-8">
													<input class="form-control" id="companytaxregister" type="text" placeholder="Tax number">
													<p class="help-block">Tax number required</p>
												</div>
											</div>
											<div class="form-group">
												<label  class="col-xs-4 control-label" for="companycontact">Contactperson</label>
												<div class="col-xs-8">
													<input class="form-control" id="companycontact" type="text" placeholder="Contactperson">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companyemail">E-mail address</label>
												<div class="col-xs-8">
													<input class="form-control" id="companyemail" type="text" placeholder="naam@domein.nl">
												</div>
											</div>
											<br>
											<legend>Invoice address</legend>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companyaddress">Address</label>
												<div class="col-xs-8">
													<input class="form-control" id="companyaddress" type="text" placeholder="Adres">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companyzip">Zipcode</label>
												<div class="col-xs-8">
													<input class="form-control" id="companyzip" type="text" placeholder="Zipcode">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companycity">City</label>
												<div class="col-xs-8">
													<input class="form-control" id="companycity" type="text" placeholder="City">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companycountry">Country</label>
												<div class="col-xs-8">
													<select class="form-control" id="companycountry">
														<option>Country 01</option>
														<option>Country 02</option>
													</select>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
								<div class="col-xs-12 col-sm-6">
									<form class="form-horizontal">
										<fieldset>
											<legend>Postal address</legend>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companypostaladdress">Address</label>
												<div class="col-xs-8">
													<input class="form-control" id="companypostaladdress" type="text" placeholder="Address">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companypostalzip">Zipcode</label>
												<div class="col-xs-8">
													<input class="form-control" id="companypostalzip" type="text" placeholder="Zipcode">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companypostalcity">City</label>
												<div class="col-xs-8">
													<input class="form-control" id="companypostalcity" type="text" placeholder="City">
												</div>
											</div>
											<div class="form-group">
												<label class="col-xs-4 control-label" for="companypostalcountry">Country</label>
												<div class="col-xs-8">
													<select class="form-control" id="companypostalcountry">
														<option>Country 01</option>
														<option>Country 02</option>
													</select>
												</div>
											</div>
											<br>
											<legend>Comments</legend>
											<div class="form-group">
												<div class="col-xs-12">
													<textarea class="form-control" id="comments" rows="12" maxlength="255"></textarea>
												</div>
											</div>
											<hr>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="yes" id="termsandconditions">Yes, I agree to the <a href="#">terms &amp; conditions</a>
												</label>
											</div>
										</fieldset>
									</form>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<button class="btn btn-default" data-target="#step1" data-toggle="tab"><span class="glyphicon glyphicon-menu-left"></span> Overview</button>
								</div>
								<div class="col-xs-6">
									<button class="btn btn-primary pull-right" data-target="#step3" data-toggle="tab">Next <span class="glyphicon glyphicon-menu-right icon-white"></span></button>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="step3">
							<div class="row">

								<div class="col-xs-12 col-sm-5">

									<div class="well">

										<table class="table">
											<thead>
												<tr>
													<th>Peronsal info</th>
												</tr>
												<tr>
													<td>
														company name<br>
														contactperson name<br>
														register: register number<br>
														tax number: tax number<br>
														<br>
														<b>invoice address</b><br>
														address 123<br>
														zipcode city nl<br>
														email@example.com<br>
														<br>
														<b>Comments</b>
														<br>
														<i>Comments are here</i>
													</td>
												</tr>
											</thead>
										</table>
								
									</div>

								</div>

								<div class="col-xs-12 col-sm-7">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Overview</th>
												<th width="50">count</th>
												<th width="70">total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Product A</td>
												<td align="center">1</td>
												<td align="right">€ 123,-</td>
											</tr>
											<tr>
												<td>Product B</td>
												<td align="center">2</td>
												<td align="right">€ 2,-</td>
											</tr>
											<tr>
												<td>Shipping: express</td>
												<td align="right" colspan="2">€ 0,-</td>
											</tr>
											<tr>
												<td>Payment: wiretransfer</td>
												<td align="right" colspan="2">€ 0,-</td>
											</tr>
											<tr>
												<td align="right" colspan="3"><strong>€ 125,-</strong></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>

							<div class="row">
								<div class="col-xs-6">
									<button class="btn btn-default" data-target="#step2" data-toggle="tab"><span class="glyphicon glyphicon-menu-left"></span> personal info</button>
								</div>
								<div class="col-xs-6">
									<button class="btn btn-primary pull-right" data-target="#step4" data-toggle="tab">Next <span class="glyphicon glyphicon-menu-right"></span></button>
								</div>
							</div>

						</div>

						<div class="tab-pane" id="step4">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<h2>Payment success</h2>
									<p>Your order will be processed as soon as possible.</p>
								</div>
								<div class="col-xs-12 col-sm-6">
									<h2>Delivery</h2>
									<p>With express shipping, your order will arrive within 24 hours.</p>
								</div>
							</div>
							<br><br><br>
							<div class="row">
								<div class="col-xs-6">
								</div>
								<div class="col-xs-6">
									<a href="index.html" class="btn btn-primary pull-right">Go to home <span class="glyphicon glyphicon-menu-right"></span></a>
								</div>
							</div>
						</div>

					</div>

					<br>

				</div>
				<!-- END CONTENT ITEM -->

			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="well">
						
						<!-- START CONTENT ITEM -->
						&copy; <script>document.write(new Date().getFullYear());</script> - All taxes are excluded - shipping costs depends on location - <a href="column3.html">more info <span class="glyphicon glyphicon-menu-right"></span></a>
						<!-- END CONTENT ITEM -->

					</div>
				</div>
			</div>

			<footer>

				<div class="footer">

					<div class="row hidden-print">

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 1</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 2</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 3</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 4</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 5</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 6</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 7</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 8</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 9</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
								<li><a href="detail.html">Short E</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 10</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
								<li><a href="detail.html">Product D</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

							<!-- START CONTENT ITEM -->
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 11</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
							</ul>
							<ul class="unstyled">
								<li class="footer-title"><a href="category.html">Category 12</a></li>
								<li><a href="detail.html">Product item A</a></li>
								<li><a href="detail.html">Product B</a></li>
								<li><a href="detail.html">Large product C</a></li>
							</ul>
							<!-- END CONTENT ITEM -->

						</div>

					</div>

					<div class="row visible-print">
						<div class="col-xs-12">
							
							<!-- START CONTENT ITEM -->
							Alternate footer for print version
							<!-- END CONTENT ITEM -->

						</div>
					</div>

				</div>
	
			<footer>

		</div>

	</body>

</html>
